/*
* @Author: lenovo
* @Date:   2017-07-15 17:15:40
* @Last Modified by:   lenovo
* @Last Modified time: 2017-07-15 17:42:35
*/
.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color:#666;
	line-height: 30px;
}
.footer .links .link{
	padding: 0 10px;
}
.footer .copyright{
	text-align: center;
	color:#666;
	line-height: 30px;
}